<!-- Attributes list items only generated if they exist in the database -->
<div class="npc-readout-div" data-id="1-{{npc.id}}">
  <h3 class="npc-readout-name"><span data-id="name-{{npc.id}}">{{npc.name}}</span></h3>
  <div class="npc-icon" id="npc-icon" data-class="5-{{npc.id}}"></div>
  <ul class="readout-ul">
    {{#if npc.race}}
      <li class="readout-li"><span class="npc-readout-property">Race:</span> <span class="readout-value" data-id="race-{{npc.id}}">{{npc.race}}</span></li>
    {{else}}
      <li class="readout-li"><span class="npc-readout-property">Race:</span> <span class="readout-value" data-id="race-{{npc.id}}">n/a</span></li>
    {{/if}}
    {{#if npc.dnd_class}}
      <li class="readout-li"><span class="npc-readout-property">Class:</span> <span class="readout-value dnd_class_readout" data-id="dnd-class-{{npc.id}}">{{npc.dnd_class}}</span></li>
    {{else}}
      <li class="readout-li"><span class="npc-readout-property">Class:</span> <span class="readout-value dnd_class_readout" data-id="dnd-class-{{npc.id}}">n/a</span></li>
    {{/if}}
    {{#if npc.challenge_rating}}
      <li class="readout-li"><span class="npc-readout-property">Challenge Rating:</span> <span class="readout-value" data-id="CR-{{npc.id}}">{{npc.challenge_rating}}</span></li>
    {{else}}
      <li class="readout-li"><span class="npc-readout-property">Challenge Rating:</span> <span class="readout-value" data-id="CR-{{npc.id}}">n/a</span></li>
    {{/if}}
    {{#if npc.user.user_name}}
      <li class="readout-li"><span class="npc-readout-property">Created by:</span> <span class="readout-value" data-id="user-{{npc.id}}">{{npc.user.user_name}}</span></li>
    {{/if}}
      <li class="readout-li"><span class="npc-readout-property">Likes:</span> <span class="readout-value" data-id="likes-{{npc.id}}">{{npc.liking_users.length}}</span></li>
  </ul>
  <button id="view-large-npc" class="btn btn-default readout-view-larger-button" data-id="{{npc.id}}">View NPC</button>
</div>
