<!-- Attributes list items only generated if they exist in the database -->
<!-- Need to make it so edit and delete buttons only appear if ownership -->

    <div class="single-npc-readout-div" data-id="2-{{npc.id}}">
      <h3>{{npc.name}}</h3>
      <ul class="readout-ul">
        {{#if npc.race}}
          <li>Race: {{npc.race}}</li>
        {{/if}}
        {{#if npc.dnd_class}}
          <li>Class: {{npc.dnd_class}}</li>
        {{/if}}
        {{#if npc.challenge_rating}}
          <li>Challenge Rating: {{npc.challenge_rating}}</li>
        {{/if}}
        {{#if npc.level}}
          <li>Level: {{npc.level}}</li>
        {{/if}}
        {{#if npc.HP}}
          <li>HP: {{npc.HP}}</li>
        {{/if}}
        {{#if npc.AC}}
          <li>AC: {{npc.AC}}</li>
        {{/if}}
        {{#if npc.ability_modifiers}}
          <li>Ability Modifiers: {{npc.ability_modifiers}}</li>
        {{/if}}
        {{#if npc.spells_abilities}}
          <li>Spells & Abilities: {{npc.spells_abilities}}</li>
        {{/if}}
        {{#if npc.traits}}
          <li>Traits: {{npc.traits}}</li>
        {{/if}}
        {{#if npc.items}}
          <li>Items: {{npc.items}}</li>
        {{/if}}
        {{#if npc.notes}}
          <li>Notes: {{npc.notes}}</li>
        {{/if}}
        {{#if npc.user.user_name}}
          <li>Created by: {{npc.user.user_name}}</li>
        {{/if}}
        {{#unless npc.private}}
          <li>Privacy Setting: Public</li>
        {{/unless}}
        {{#if npc.private}}
          <li>Privacy Setting: Private</li>
        {{/if}}
          <li class="readout-li"><span class="npc-readout-property">Likes:</span> <span class="readout-value" data-id="likes-{{npc.id}}">{{npc.liking_users.length}}</span></li>
      </ul>
      {{#if ownership}}
        <button class="edit-npc btn btn-default readout-edit-button" data-id="{{npc.id}}">Edit NPC</button>
        <button id="delete-npc" class="delete-npc btn btn-default readout-delete-button" data-id="{{npc.id}}">Delete NPC</button>
      {{/if}}
      {{#unless ownership}}
        <!-- <button class="like-npc btn btn-default readout-edit-button" data-id="{{npc.id}}">Like NPC</button> -->
        <button class="like-npc btn btn-default readout-edit-button" data-id="{{npc.id}}">Like <i class="fa fa-thumbs-up"></i></button>
      {{/unless}}
    </div>
